[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "dear_imgui"]
	path = dear_imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "kisslib/nlohmann_json"]
	path = kisslib/nlohmann_json
	url = https://github.com/nlohmann/json.git
